include README.md
include LICENSE
include requirements.txt
include main.py
recursive-include src *.py
recursive-include src *.yaml
recursive-include src *.yml
recursive-include src *.json
recursive-include src *.txt
recursive-include src *.md
global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store